
@import '../../public/styles/variables.scss';

.audioElement{
    width: 100%;

    audio{
        min-width: 230px;
        width: 100%;
        border: 2px solid $contrastBackgroundColor;
        border-radius: 55px;
    }
}