@import '../../../public/styles/variables.scss';

.interlocutor{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    border-radius: 13px;
    color: $contrastFontColor;
    
    &:nth-of-type(n+2){
        margin-top: 8px;
    }
    &:hover{
        background-color: $inputColor;
    }
    &.active{
        background-image: $gradient;
        color: $contrastBackgroundColor;

        .contentBlock{
            .lastMessengeDate{
                time{
                    color: $contrastBackgroundColor;
                    font-weight: normal;
                }
            }
        }
    }
    .interlocutorAvatar{
        width: 45px;
        height: 45px;

        img{
            width: 45px;
            height: 45px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .contentBlock{
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        &>div:nth-child(1){
            .name{
                word-wrap: break-word;
                font-weight: bold;
            }
            .lastMessenge{
                margin-top: 2px;
                font-size: 13px;
                word-wrap: break-word;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden;
                -webkit-box-orient: vertical;
            }
        }

        
        .lastMessengeDate{
            display: flex;
            justify-content: flex-end;
            margin-top: 3px;

            time{
                font-weight: bold;
                font-size: 11px;
                margin-left: 20px;
                margin-right: 6px;
                color: $placeholderFontColor;
            }
        }
    }
}