
@import '../../../public/styles/variables.scss';

.profileHeader{
    background-color: $contrastBackgroundColor;
    box-shadow: $boxShadow;
    border-radius: 10px;
    width: 100%;
    height: 80px;
}