
@import '/public/styles/variables.scss';

.profileUserRightbar{
    background-color: $contrastBackgroundColor;
    box-shadow: $boxShadow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    .titleBlock{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $border;

        .title{
            font-size: 15px;
            font-weight: bold;
            color: $contrastFontColor;
        }
        .indicator{
            display: flex;
            justify-content: center;

            div{
                display: flex;
                align-items: center;

                span{
                    font-size: 12px;
                    font-weight: bold;
                    color: $placeholderFontColor;
                }

                .icon{
                    margin-left: 5px;
                    font-size: 19px;
                    color: $placeholderFontColor;
                }
            }
        }
    }

    .users{
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
    }

    .more{
        display: flex;
        justify-content: center;
        cursor: pointer;
        padding-bottom: 20px;

        &>div{
            display: flex;
            align-items: center;

            span{
                font-size: 13px;
                font-weight: 500;
                color: $placeholderFontColor;
            }
            .icon{
                font-size: 19px;
                color: $placeholderFontColor;
                margin-left: 4px;
                transition: transform .2s;
            }
            &:hover{
                .icon{
                    transform: translateX(3px);
                }
            }
        }
    }    
}