
@import '/public/styles/variables.scss';

.subscribe_button{
    cursor: pointer;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    margin-left: 25px;

    &.subscribe{
        background: $placeholderFontColor;
        color: $contrastBackgroundColor;
    }
    &.unsubscribe{
        background-color: $inputColor;
        color: $mainFontColor;
    }
}