
.homepage{
    display: flex;
    justify-content: space-between;

    .news{
        width: 100%;
        display: flex;
        flex-direction: column;

        .posts{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }
    }
}