
$mainFont: 'Roboto';

$contrastBackgroundColor: #ffffff;
$backgroundColor: #F9FAFC;
$inputColor: #F4F5F9;
$mainFontColor: #4c6781;
$activeIconColor: #7692ac;
$contrastFontColor: #184883;
$placeholderFontColor: #9ca9bb;
$contrastInonsColor: #192c44;
$logoColorLight: #33a4f5;
$logoColorMiddle: #2E97EE;
$logoColorDark: #2574db;
$gradient: linear-gradient(90deg, $logoColorLight 0%, $logoColorDark 100%);
$boxShadow: 0 0 5px 3px rgba(228, 233, 238, 0.267);
$border: #f0f2fa;
$greenOnline: #1ED760;

@keyframes GradientAnimation {
    0%{background-position:0% 0%}
    50%{background-position:100% 50%}
    100%{background-position:0% 0%}
}
$gradientAnimate: GradientAnimation 3s ease infinite;