
$mainFont: 'Roboto';

$contrastBackgroundColor: #FDFDFD;
$backgroundColor: #F9FAFC;
$inputColor: #F4F5F9;
$mainFontColor: #5C7389;
$contrastFontColor: #476083;
$placeholderFontColor: #B0BAC7;
$contrastInonsColor: #1D3A5F;
$logoColorLight: #2A9DEE;
$logoColorDark: #2D7FEA;
$gradient: linear-gradient(90deg, $logoColorLight 0%, $logoColorDark 100%);
$boxShadow: 0 0 1px 7px #eff3f844;