@import '../../../public/styles/variables.scss';

.messenge{
    display: flex;
    color: $contrastInonsColor;
    padding: 10px;
    border-radius: 13px;

    &.existMediaContent{
        flex-direction: column;

        .messengeDate{
            margin-top: 5px;
        }
    }

    &:nth-of-type(n+2){
        margin-top: 7px;
    }
    &.ours{
        color: $contrastBackgroundColor;
        align-self: flex-end;
        background-image: $gradient;
        border-end-end-radius: 0;
    }
    &.theirs{
        align-self: flex-start;
        background-color: $inputColor;
        border-end-start-radius: 0;

        .messengeDate{
            color: $placeholderFontColor;
        }
        .messengeText{
            color: $mainFontColor;
            font-weight: 500;
        }
    }
    
    .messengeDate{
        margin-left: 20px;
        align-self: flex-end;
        font-size: 11px;
    }
    .messengeContent{
        .messengeText{
            font-size: 0.9em;
            font-weight: normal;
        }

        &>*:nth-child(n+2){
            margin-top: 5px;
        }

        .messengeMediaContent{

            &>*:nth-child(n+2){
                margin-top: 5px;
            }

            .graphicContent{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            .messengeFileContent{
                padding: 0 5px;
                width: 100%;

                :nth-child(n+2){
                    margin-top: 5px;
                }
            }
        }
    }
}