
@import '../../public/styles/variables.scss';

.sharePost{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    box-shadow: $boxShadow;
    background-color: $contrastBackgroundColor;
    border-radius: 10px;

    .shareTop{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 2px solid #f0f2fa;

        .shareUserLogo{
            border-radius: 10px;
            object-fit: cover;
        }
        textarea{
            margin-left: 10px;
            border: none;
            outline: none;
            font-size: 16px;
            width: 100%;
            resize: vertical;
            overflow: auto;
            border: 2px solid #f0f2fa;
            padding: 5px;
            border-radius: 10px;
            min-height: 40px;
            color: $mainFontColor;
            font-weight: bold;

            &::-webkit-scrollbar {
                height: 0;
                width: 0;
            }

            &::placeholder{
                color: $placeholderFontColor;
                font-size: 16px;
            }
        }
    }

    .shareBottom{
        width: 100%;
        padding-top: 15px;
        display: flex;
        justify-content: space-between;

        .shareOptions{
            display: flex;
            align-items: center;
            margin-right: 30px;

            .shareOption{
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover{
                    .optionIcon{
                        color: $mainFontColor;
                    }
                }

                .optionIcon{
                    transition: color .2s;
                    color: $placeholderFontColor;
                }
                span{
                    color: $mainFontColor;
                    font-size: 14px;
                    font-weight: 500;
                    margin-left: 5px;
                }

                &:nth-of-type(n+2){
                    margin-left: 15px;
                }
            }
        }
        
        button{
            border: none;
            outline: none;
            background: $gradient;
            border-radius: 10px;
            padding: 8px 16px;
            color: $contrastBackgroundColor;
            font-weight: bold;
            font-size: 13px;
            cursor: pointer;
        }
    }
}