
@import '../../../public/styles/variables.scss';

.mediaMenu{
    position: absolute;
    bottom: 37px;
    left: 50%;
    box-shadow: 0 0px 3px 1px rgba(208, 213, 218, 0.432);
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 1;

    &>div{
        padding: 7px 0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        background-color: $contrastBackgroundColor;
        position: relative;

        .mediaElement{
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 6px 20px;
            transition: background-color .2s;

            &:hover{
                background-color: $inputColor;
            }
            .icon{
                color: $placeholderFontColor;
                font-size: 21px;
            }
            span{
                font-size: 13px;
                margin-left: 12px;
                color: $mainFontColor;
            }
        }

        .bottomTriangle{
            z-index: -1;
            width: 10px;
            height: 10px;
            transform: rotateZ(45deg) translateX(-50%);
            background-color: $contrastBackgroundColor;
            position: absolute;
            bottom: -8px;
            left: 50%;
            box-shadow: 0 0px 3px 1px rgba(208, 213, 218, 0.432);
        }
    }
}