
@import '../../../public/styles/variables.scss';

.roomPage{
    flex: 5;
    margin-left: 15px;
    color: $contrastInonsColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  $contrastBackgroundColor;
    box-shadow: $boxShadow;
    border-radius: 10px;
    height: 80vh;

    .roomPageHeader{
        padding: 0 20px;
        width: 100%;

        &>div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 15px 0;
            border-bottom: 2px solid $border;

            .profileBlock{
                display: flex;
                align-items: center;

                .profilePicture{
                    width: 40px;
                    height: 40px;

                    img{
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
                .nameBlock{
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;

                    .name{
                        font-size: 14px;
                        font-weight: bold;
                        color: $contrastFontColor;
                    }
                    .networkStatus{
                        margin-top: 3px;
                        color: $placeholderFontColor;
                        font-size: 11px;
                    }
                }
            }
            .roomSettings{
                cursor: pointer;
                color: $placeholderFontColor;
                font-size: 27px;
                transition: color .2s;

                &:hover{
                    color: $contrastFontColor;
                }
            }
        }
    }

    .messengesBlock{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        align-items: flex-end;
        padding: 10px 0;
    
        &::-webkit-scrollbar{
            width: 9px;
            height: 9px;
        }
        &::-webkit-scrollbar-thumb{
            background: #caccd6bb;
            border-radius: 30px;
        }
        &::-webkit-scrollbar-thumb:hover{
            background: #cacdd8e3;
        }
        &::-webkit-scrollbar-track{
            visibility: hidden;
        }

        &>div{
            margin-top: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 20px;

            .dateMark{
                padding-top: 40px;
                padding-bottom: 15px;
                text-align: center;
                font-size: 0.8em;
                color: $activeIconColor;
            }
        }
    }
}