
@import '../../public/styles/variables.scss';

.sidebar{
    width: 330px;
    min-width: 230px;
    box-shadow: $boxShadow;
    background-color: $contrastBackgroundColor;
    border-radius: 15px;
    padding: 0 20px;
    padding-bottom: 20px;
    height: max-content;
    position: sticky;
    top: 10px;

    .logoBlock{
        display: flex;
        align-items: center;
        border-bottom: 2px solid $border;
        padding: 15px 0;

        span{
            font-weight: 500;
            font-size: 20px;
            color: $contrastFontColor;
            margin-left: 10px;
            font-family: Roboto;
        }
    }

    .navBlock{
        margin-top: 23px;
        display: flex;
        flex-direction: column;

        .navItem{
            $padding: 12px;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $placeholderFontColor;
            position: relative;
            border-radius: 10px;
            padding: $padding;
            padding-right: 40px;

            &:hover, &.active{
                background: $gradient;
                color: $contrastBackgroundColor;

                span{
                    color: $contrastBackgroundColor;
                }
            }

            .navIcon{
                font-size: 20px;
            }

            span{
                margin-left: 13px;
                font-size: 14px;
                font-weight: 500;
                color: $mainFontColor;
            }

            &Counter{
                color: $contrastBackgroundColor;
                position: absolute;
                right: $padding;
                top: 50%;
                transform: translateY(-50%);
                background: $gradient;
                font-weight: bold;
                text-align: center;
                font-size: 9px;
                border-radius: 5px;
                padding: 2px 3px;
                min-width: 18px;
                border: 1px solid $contrastBackgroundColor;
            }

            &:nth-of-type(n+2){
                margin-top: 10px;
            }
        }
    }
}